@import '../variables.css';

.navbar-container{
    background-color: var(--primary-color);
    width: 100%;
    height: var(--navbar-height);
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo{
    cursor: pointer;
    height: 100px;
    margin: 10px;
}

.navbar-link-list{
    display: flex;
    flex-wrap: wrap;
}

.nav-link{
    color: white;
    font-weight: 500;
    text-decoration: none;

    transition: all 0.3s ease-in-out;
}

.nav-triangle{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13.856px solid white;
    margin-right: 10px;
    transform-origin: center;
    transition: transform 1s ease-in-out, border-bottom 0.3s ease-in-out;
}

.nav-item-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nav-item-box:hover{
    .nav-link{
        color: var(--tertiary-color);
    }
    .nav-triangle{
        transform: rotate(360deg);
        border-bottom: 16px solid var(--tertiary-color);
    }
}

.active-link{
    color: var(--tertiary-color);
}